<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>majorsServlet</display-name>
    <servlet-name>majorsServlet</servlet-name>
    <servlet-class>com.eintern.servlet.majorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>majorsServlet</servlet-name>
    <url-pattern>/majorsServlet</url-pattern>
    <url-pattern>/majors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coursesServlet</display-name>
    <servlet-name>coursesServlet</servlet-name>
    <servlet-class>com.eintern.servlet.coursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coursesServlet</servlet-name>
    <url-pattern>/coursesServlet</url-pattern>
    <url-pattern>/courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentsServlet</display-name>
    <servlet-name>studentsServlet</servlet-name>
    <servlet-class>com.eintern.servlet.studentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentsServlet</servlet-name>
    <url-pattern>/studentsServlet</url-pattern>
    <url-pattern>/students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.eintern.servlet.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advisorServlet</display-name>
    <servlet-name>advisorServlet</servlet-name>
    <servlet-class>com.eintern.servlet.advisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorServlet</servlet-name>
    <url-pattern>/advisorServlet</url-pattern>
    <url-pattern>/advisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerClassServlet</display-name>
    <servlet-name>registerClassServlet</servlet-name>
    <servlet-class>com.eintern.servlet.registerClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerClassServlet</servlet-name>
    <url-pattern>/registerClassServlet</url-pattern>
    <url-pattern>/registerClass</url-pattern>
  </servlet-mapping>
</web-app>